.app.purple{
    background-color: #800080;
    color: rgb(228, 225, 225);

    .chartGrid{
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table{
        background-color: #C21170;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .tableCell{
            color:#fff;
        }
    }

    .teamContainer{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .clientsContainer{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .single{
        .top{
            .left{
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

        .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    .navbar{
        color: #999;

        .search{
            border: 0.5px solid #fff;
    
            input{
                color: #fff;
            }
        }

        .wrapper{
            .items{
                .item{
                    .icon{
                        color: #fff;
                    }
                }
            }
        }
    }

    .sidebar{
        background-color:#660466;
        border-color: #333;

        .top{
            .logo{
                color: #fff;
            }
        }
        hr{
            border-color: #333;
        }

        .center{

            li{
                &:hover{
                    background-color:#C21170;
                    color: #fff;
                }

                .icon{
                    color: #fff;
                }

                span{
                    color: #fff;
                }

            }
        }
    }

    .featured{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .home{
        .homeContainer{
            .listContainer{
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }

    .widget{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .chart{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .datatable{
        
        .datagrid{
            color: #fff;
            border: none;
        }
    }

    .newContainer{
        .top, .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    .chart{
        linearGradient{
            stop{
                stop-color: #fff;
            }
        }

    }

    .CircularProgressbar-path {
        stroke: #C21170;
      }

      .CircularProgressbar-text {
        fill: #fff;
      }

      input{
        background-color: transparent;
        color: #fff;
    }

  
}