.datatable{
    height: 600px;
    padding: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24PX;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: #6439ff;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #6439ff;
            padding: 7px;

            &:hover{
                background-color:#7765b8ce;
                color: #fff;
            }
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            background-color: rgba(0, 128, 0, 0.09);
            color: green;
        }

        &.passive{
            background-color: rgba(207, 106, 11, 0.09);
            color: orange;
        }

        &.pending{
            background-color: rgba(179, 12, 12, 0.09);
            color: red;
        }
    }
}

.cellAction{
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    outline: none;
    

    .viewButton, .deleteButton{
        cursor: pointer;
        
    }

    .viewButtonIcon{
        color: rgba(20, 182, 20, 0.74);

        &:hover{
            color: green;
        }
    }

    .deleteButtonIcon{
        color: rgb(241, 88, 88);

        &:hover{
            color: rgb(255, 0, 0);
        }
    }
}